<!-- blog.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}BLOG-Bisiklet Şefliği{% endblock %}

{% block content %}

<!-- Page title -->
<section id="page-title" class="text-light" style="background-color: #002E71;">
    <div class="container">
        <div class="breadcrumb" style="color: white;">
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li class="active"><a href="#" style="color: white;">Blog</a></li>
            </ul>
        </div>
        <div class="page-title">
            <h1>Blog Yazıları</h1>
            <span></span>
        </div>
    </div>
</section>
<!-- end: Page title -->

<section id="page-content">
    <div class="container">
        <!-- Blog Grid -->
        <div class="row">
        
        
            {% for blog in Blog %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="image-container" style="height: 300px; overflow: hidden;">
                                
                                <img src="{{blog.image}}" class="card-img-top" alt="" style="object-fit: cover; height: 100%; width: 100%;">
                                
                            </div>
                            <div class="card-body" style="display: flex; flex-direction: column; height: 100%;">
                                <h2 class="card-title" style="font-size: 1.5rem; font-weight: bold; flex-shrink: 0; height: 60px; overflow: hidden; text-overflow: ellipsis;">
                                    <a href="{% url 'blog_detail' blog.id %}" style="display: block; height: 100%; overflow: hidden;">{{blog.title}}</a>
                                </h2>
                                <p class="card-text" style="flex-grow: 1; text-align: justify; height: 80px; overflow: hidden; margin-bottom: -80px;">
                                    
                                    {{blog.content|safe|truncatewords:15}}
                                </p>
                                <a href="{% url 'blog_detail' blog.id %}" class="item-link" style="flex-shrink: 0;">Devamı
                                    <i class="icon-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                
            {% endfor %}
            <hr class="space">    
        </div>
    </div>
</section>
{% endblock %}
